<!--formulario de entrevista-->
{{>cuestionario}}
<div id="container-entrevista">
		<p id="pregunta"> pregunta </p>
		<div id="respuesta">
		<label for="check-si"><input id= "check_si" type="checkbox" name="check-si">Si</label>
		<label for="check-no"><input id="check_no" type="checkbox" name="check-no">No</label>
		</div>
		<a href="#0">enviar respuesta</a>
</div>


{{>evaluar_respuesta}}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                