<!--formulario de entrevista-->
<div id="container-entrevista">
  <p id="pregunta"> pregunta </p>
  <div id="respuesta">
    <label for="check-si"><input id= "check_si" type="checkbox" name="check-si">Si</label>
    <label for="check-no"><input id="check_no" type="checkbox" name="check-no">No</label>
  </div>
  <a id='enviar' href="#0">Enviar</a>
</div>

<script src="/public/js/entrevista-cuestionario.js"></script>
<script src="/public/js/entrevista-evaluacion.js"></script>
