<!--formulario de entrevista-->
<div id="div-entrevista">
	<form id="form_entrevista" action="#pregunta1" method="GET">
		<p id="pregunta"> pregunta </p>
		<div id="respuesta">
		<label for="check-si"><input type="checkbox" name="check-si">Si</label>
		<label for="check-no"><input type="checkbox" name="check-no">No</label>
		</div>
		<input type="submit" name="enviar_respuesta" id="enviar_respuesta">
	</form>
</div>

{{>cargar_pregunta}}
{{>evaluar_respuesta}}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                