<!--formulario de entrevista-->
<div id="div-entrevista">
	<form action="/entrevista/" method="post">
		<p id="pregunta"> pregunta </p>
		<input type="text" name="respuesta" id="respuesta">
		<input type="submit" name="enviar_respuesta" id="enviar_respuesta">
	</form>
</div>

  <script>
		{{>cargar_pregunta}}
	</script>
  <script>
		{{>evaluar_respuesta}}
	</script>