<h1>entrevista dinamica</h1>
<div id="div-entrevista">
	 <form action="/form_entrevista" method="post">
		 <p id="pregunta"> pregunta  </p>
     <input type="text" name="respuesta" id="respuesta">
     <input type="submit" name="enviar_respuesta" id="enviar_respuesta">
	 </form>
</div>