
  <form action="/Usuario/agregar" method="POST">
    <input type="text" placeholder="Nombre" id="nombre" name="nombre">

    <input type="text" placeholder="Apellido" id="apellido" name="apellido">

    <input type="email" name="email" placeholder="Por ejemplo, ejemplo@gmail.com">

    <input type="text" placeholder="User" id="user" name="user">
    
    <input type="text" placeholder="Password" id="password" name="password">

    <input type="text" placeholder="Confirmar Pasword" id="password2" name="password2">

    <input type="submit" value="Enviar">
  </form>