<section class="container section-pagina">
  <h2>Formulario de contacto</h2>
  <p>Agradecemos el tiempo dedicado en completar la entrevista. Si te interesa ser donante, te esperamos de lunes a sabado, 8hs a 12hs, en Hemoterapia, Av. Cordoba 2351, 3er piso. Si queres que te contactemos, podes completar el siguiente formulario.</p>
  <a href="mailto:plasmacovid"></a>
</section>

<section class="container section-pagina">
  <form action="/donador/agregar" method="POST" class="container-form">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="tipo_donador">¿A que tipo de donador vas a postular?</label>
        <select name="tipo_donador" id="tipo_donador" class="form-control">
          <option value="Donador de Sangre">
            Donador de sangre
          </option>
          <option value="Donador de Plasma">
            Donador de plasma
          </option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="nombre">Nombre</label>
        <input type="text" placeholder="Por ejemplo: Juan" id="nombre" name="nombre" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label for="apellido">Apellido</label>
        <input type="text" placeholder="Por ejemplo: Perez" id="apellido" name="apellido" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label for="telefono">Telefono</label>
        <input type="tel" placeholder="(Codigo de area) Numero" id="telefono" name="telefono" class="form-control">
      </div>

      <div class="form-group col-md-4">
        <label for="email">Correo electronico</label>
        <input type="email" name="email" placeholder="Por ejemplo, ejenplo@gmail.com" class="form-control">
      </div>

    </div>
    <input type="submit" value="Enviar" class="btn btn-enviar">
  </form>

</section>