<section class="container-fluid section-principal">
</section> 

<section class="container section-btn-donar">
        <a class= "btn btn-outline-danger text-red btn-donar" href="/entrevista">Quiero Donar</a>
</section>


<section class="container section-condiciones section-pagina" id="section-condiciones">
  
    <h3>
        Condiciones basicas para ser donador
    </h3>
    
    <div class="row">
        <div class="col-4 tarjeta-condicion">
					
            <img src="/public/img/imgedad.png" alt="">
            <p>
                Tener entre 18 y 65 Años
            </p>
        </div>

        <div class="col-4 tarjeta-condicion" >
            <img src="/public/img/imgtransfucion.png" alt="">
            <p>
                No deben tener antecedentes transfuncionales
            </p>
        </div>

        <div class="col-4 tarjeta-condicion">
            <img src="/public/img/imgpeso.png" alt="">
            <p>
                Pesar mas de 50kg
            </p>
        </div>

        <div class="col-4 tarjeta-condicion">
            <img src="/public/img/imgdedo.png" alt="">
            <p>
                haber cursado la infeccion y que hallan pasado los 28 dias de recuperacion, contando con 2 pruebas negativas de COVID-19
            </p>
        </div>

        <div class="col-4 tarjeta-condicion">
            <img src="/public/img/imgenfermedad.png" alt="">
            <p>
                No poseer enfermedades prexistente como hepatitis, alguna neoplasia o enfermedades cardiovasculares
            </p>
        </div>

        <div class="col-4 tarjeta-condicion">
            <img src="/public/img/imgembarazo.png" alt="">
            <p>
                no haber tenido abortos, ni antecedentes gestionales
            </p>
        </div>
</section>

<section class="container section-pagina" id= "section-ley">
  <h3>
     ¿Conocias algo sobre la ley de plasta?
  </h3>
	
	<div class="dflex">	
  <div class= "img-ley">
		<img src="">
  </div>
	
  <div>texto para conocer la ley</div>
  <p>
    

	</div>


</section>
  <section class="container section-pagina" id="section-material">
  
    <h3>
        Material para compartir
    </h3>

    <div class="row">
        <div class="col-4 tarjeta-material">
            <img src="https://i.ibb.co/0f6SVDQ/DONA.png">
            <div class="material-compartir-redes">
                <p> Compartir </p>

							<a href="https://www.facebook.com/sharer/sharer.php?u=https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Facebook.png"> </a>

              <a > <img href="https://api.whatsapp.com/send?text=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"src="/public/icons/icono_whatsapp.png"> </a>

              <a href "https://twitter.com/home?status=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Twitter.png"> </a>

            </div>
        </div>
    
    <div class="col-4 tarjeta-material">
            <imgsrc="https://i.ibb.co/9bnMDtp/DONA2.png">
            <div class="material-compartir-redes">
							                <p> Compartir </p>
							
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Facebook.png"> </a>

              <a href="https://api.whatsapp.com/send?text=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_whatsapp.png"> </a>
              
              <a href "https://twitter.com/home?status=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Twitter.png"> </a>
                
            </div>
    </div>
        
        <div clas="col-4 tarjeta-material">
            <div class="material-compartir-redes">        
							 <p> Compartir </p>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Facebook.png"> </a>
              
              <a href="https://api.whatsapp.com/send?text=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_whatsapp.png"> </a>
              
              <a href "https://twitter.com/home?status=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Twitter.png"> </a>
                
            </div>
    </div>

    <div class="col-4 tarjeta-material">
            <img src="https://i.ibb.co/C6JqH9c/Eliam-Ana-1-1-Pasos-a-seguir-1.png">
            <div class="material-compartir-redes">
							                <p> Compartir </p>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Facebook.png"> </a>
              
              <a href="https://api.whatsapp.com/send?text=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_whatsapp.png"> </a>
              
              <a href "https://twitter.com/home?status=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Twitter.png"> </a>
                
            </div>
    </div>

    <div class="col-4 tarjeta-material">
            <img src="https://i.ibb.co/W37N5jR/1.png">
            <div class="material-compartir-redes">
							                <p> Compartir </p>
             	<a href="https://www.facebook.com/sharer/sharer.php?u=https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Facebook.png"> </a>
               
              <a href="https://api.whatsapp.com/send?text=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_whatsapp.png"> </a>
              
              <a href "https://twitter.com/home?status=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Twitter.png"> </a> 
                
            </div>
    </div>

    <div class="col-4 tarjeta-material">
            <img src="https://i.ibb.co/1dV0nw8/2.png">
            <div class="material-compartir-redes">
							                <p> Compartir </p>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Facebook.png"> </a>
              
              <a href="https://api.whatsapp.com/send?text=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_whatsapp.png"> </a>
              
              <a href "https://twitter.com/home?status=//https://i.ibb.co/0f6SVDQ/DONA.png&feature=emb_logo"> <img src="/public/icons/icono_Twitter.png"> </a>
                
            </div>
    </div>

    </div>
  </section>
        
        