<section class="container seccionPrincipal">

        <a class= "btn btn-outline-warning text-yellow" href="/entrevista">Quiero Donar</a>

      
</section> 


<section class="container">
  
    <h4>
        condiciones basicas para ser donador
    </h4>
    
    <div class="row">
        <div class="col-4">
            <img src="/public/img/imgedad.png" alt="">
            <p>
                Tener entre 18 y 65 Años
            </p>
        </div>

        <div class="col-4">
            <img src="/public/img/imgtransfucion.png" alt="">
            <p>
                No deben tener antecedentes transfuncionales
            </p>
        </div>

        <div class="col-4">
            <img src="/public/img/imgpeso.png" alt="">
            <p>
                Pesar mas de 50kg
            </p>
        </div>

        <div class="col-4">
            <img src="/public/img/imgdedo.png" alt="">
            <p>
                haber cursado la infeccion
                y que hallan pasado los 28 dias
                de recuperacion, contando
                con 2 pruebas negativas de
                COVID-19
            </p>
        </div>

        <div class="col-4">
            <img src="/public/img/imgenfermedad.png" alt="">
            <p>
                No poseer enfermedades prexistente como hepatitis, alguna neoplasia o enfermedades cardiovasculares
            </p>
        </div>

        <div class="col-4">
            <img src="/public/img/imgembarazo.png" alt="">
            <p>
                no haber tenido abortos, ni antecedentes gestionales
            </p>
        </div>
    


</section>

  <section class="container">
  
    <h4>
        Vinculos para compartir
    </h4>

    <div class="row">
        <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=1nicTZXV3GgCvCOwl08rWU4sV98u51R2u">
            <div>
                Vinculos para compartir
            </div>
        </div>
    
    <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=1OLf1mdVJike3vPDMWXFG2Hzltn303DuU">
            <div>
                
            </div>
    </div>
        
        <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=1pFWKRvMlUPpdlqGblI7uMfS1KCNWjsSY">
            <div>
                
            </div>
    </div>

    <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=1Th1x8CTHO9YO4_YuYqMG6GHLDc1tGB35">
            <div>
                
            </div>
    </div>

    <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=13VP0WCVlkHylcwHXnLGUotSUmunQLGED">
            <div>
                
            </div>
    </div>

    <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=1ql_5mwkM7Q_9TXigY7D2yo8H5FF6hh02">
            <div>
                
            </div>
    </div>

    <div class="col-4">
            <img src="http://drive.google.com/uc?export=view&id=1Ej1F9PQkxbzU4hBQqFZ5osrOkNxpW7jw">
            <div>
                
            </div>
    </div>
        
        