<!--formulario para iniciar sesion-->
<section class = "container section-inicio-sesion">
  <form action="/login/" method="get">
    <h3> Iniciar sesion</h3>
    <input type="text" id="usuario"name="usuario" placeholder="Introduzca aqui su usuario">
    <input type="password" id="password" name="password" placeholder="Introduzca aqui su contraseña">
    <input type="submit">
  </form>
</section>
