<!--formulario para iniciar sesion-->
<section class = "container">
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h4 class="h4">
          Iniciar Sesion
        </h4>
      </div>
      <ing src="#" alt="#" class="rounded-circle mx-auto d-block logo m-4">
      <div class="card-body">
          <form action="/login/" method="get">
            <input type="text" id="usuario"name="usuario" placeholder="Introduzca aqui su usuario" class="form-control">
            <input type="password" id="password" name="password" placeholder="Introduzca aqui su contraseña" class="form-control">
            <input type="submit" class="form-control btn btn-outline-warning">
          </form>
      </div>
    </div>
  </div>
</div>
</section>