
.container-grid {
	display: grid;
	grid-template-columns: auto var(--tamanio-cuerpo) auto;
}

.container{
	grid-column-start: 2;
	grid-column-end: 3;
}

.container-fluid{
	grid-column-start: 1;
	grid-column-end: 4;
}

.container-flex{
	display: flex;

}
.nav-encabezado{
	justify-content: space-between;
	color: black;
	font-family: var(--fuente-texto);
	padding-top: 1rem;
	padding-bottom: 1rem;
}
/*
header {
background-color: var(--color-fondoEncabezado);
font-family: var(--fuente-texto);
width: 100vw;
}

.container-grid {
display:grid;
grid-template-columns: auto var(--tamanio-maximo-cuerpo) auto;
}



header a {
color : var(--color-fuenteEncabezado);
font-weight: 100;
}


header>nav {
padding-top: 1rem; 
padding-right: 0rem; 
padding-left: 0rem ;
padding-bottom: 1rem;
display: flex;
justify-content:space-between;
}

header div>a {
margin-left: 1rem;
}
 */
