header {
	background-color: var(--color-fondoEncabezado);
	font-family: var(--fuente-texto);
	width: 100vw;
  display: grid;
  grid-template-columns: auto var(--tamanio-maximo-cuerpo) auto;
}
.container{
  grid-column-start: 2;
  grid-column-end: 3;
  /*width: 100%;*/
}

a {
  text-decoration: none;
}

header a {
color : var(--color-fuenteEncabezado);
font-weight: 100;
}

body {
	background-color: var(--color-fondo);
  /**display: grid;
  grid-template-columns: auto var(--tamanio-maximo-cuerpo) auto;*/
}

header>nav {
	padding-top: 1rem; 
	padding-right: 2rem; 
padding-left: 2rem ;
padding-bottom: 1rem;
display: flex;
  justify-content:space-between;
}

header div>a {
  margin-left: 1rem;
}