/* layout */
body {
  display: flex;
  flex-direction: column;
  height: min(100vh);
  background-color: var(--gris);
}

main {
  flex-grow: 1;
}

/* encabezado */
header {
  background-color: var(--violeta);
}

/* secciones */
.section-pagina {
  background-color: white;
  border-radius: 8px;
  margin-top: 32px;
  padding: 32px;
}

.section-pagina h2 {
  margin-bottom: 32px;
  text-align: center;
  font-size: bold;
  color: var(--violeta);
}
/* seccion principal */
.section-principal {
  background-color: var(--violeta);
  height: min(40vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* seccion condiciones basicas*/
.section-condiciones img {
  width: 64px;
}
.tarjeta-condicion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-condicion p {
  text-align: center;
}

/* pie de pagina */
footer {
  background-color: var(--gris);
  padding-top: 32px;
  padding-bottom: 32px;
}

footer a {
  color: black;
}
footer img {
  width: 32px;
}

/* seccion material para compartir */
.tarjeta-material {
  margin-bottom: 32px;
}
.tarjeta-material img {
  width: 100%;
}

.material-compartir-redes {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-compartir-redes h3 {
  margin: 0;
}

.material-compartir-redes img {
  width: 32px;
  margin-left: 16px;
}

/*seccion ley*/

#section-ley img {
  width: 100%;
  margin-bottom: 32px;
}

#section-ley p {
  text-align: center;
}