@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

:root {
    --color-fondo: White;
    --fuente-texto: 'PT Serif', serif;
    --color-fondoEncabezado: #34b8f8;
    --color-fuenteEncabezado: White;
}

html {
    font-size: 16-px;
}