<script>
function mensaje_respuesta_invalida(mensaje){
		const container = document.getElementById('container-entrevista');
		container.innerHTML = `<p class="mensaje-respuesta"> ${mensaje} </p>`;
}
function mensaje_alerta(mensaje){
  	const mensajeHTML = document.createElement("p"); 
		mensajeHTML.className += 'mensaje-alerta'; 
		mensajeHTML.innerText = mensaje;
		const container = document.getElementById('container-entrevista');
		container.appendChild(mensajeHTML);
}

function siguiente_pregunta() {
	console.log('Si aun hay preguntas en el cuestionario, hacerla. Pero si no hay preguntas, enviar al usuario al formulario de contacto')
}

function evaluar_respuesta_bin(pregunta) {
  const check_si = document.getElementById('check_si');
  const check_no = document.getElementById('check_no');
	if(check_si.checked && check_no.checked) {
    mensaje_alerta('Para esta pregunta, no se puede seleccionar mas de una opcion')
		return;
	} 
	if (!check_si.checked && !check_no.checked) {
		mesaje_alerta('Para esta pregunta, es necesario seleccionar una de las opciones')
	  return;
	}

	const respuesta = check_si.checked ? 'si' : 'no';
	if(pregunta.validar_respuesta(respuesta)) {
		siguiente_pregunta()
	} else {
		mensaje_respuesta_invalida(pregunta.justificacion_ante_respuesta_invalida)
		return;
	}
	
}	


const evaluar_respuesta_tipo = {
	bin: evaluar_respuesta_bin
}

function cargar_pregunta() {
	const pregunta = document.getElementById('pregunta');
	pregunta.innerText = cuestionario[0].pregunta
}

function evaluar_respuesta() {
	const num_pregunta = parseInt(location.hash.split("#")[1]);
	const pregunta = cuestionario[num_pregunta]
	const evaluacion = evaluar_respuesta_tipo[pregunta.tipo_respuesta]
	evaluacion(pregunta);
}


window.addEventListener('load', cargar_pregunta)
window.addEventListener('hashchange', evaluar_respuesta)


</script>





